.hero-container {
    width: 100%;
    height: 100%;
    position: relative;
}

.background-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background: radial-gradient(70.71% 70.71% at 0% 120.71%, white 61%, rgba(0, 0, 0, 0) 100%);
    top: 0;
    left: 0;
    z-index: 1;
}

.hero-content {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container {
    width: 1440px;
    height: 810px;
    position: relative;
    display: inline-flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.background-image {
    width: 1440px;
    height: 810px;
    position: absolute;
    object-fit: cover;
}

.overlay-content {
    width: 808px;
    height: 808px;
    position: relative;
    display: inline-flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.inner-circle {
    width: 808px;
    height: 808px;
    position: absolute;
    justify-content: flex-start;
    align-items: flex-start;
    display: inline-flex;
    background: linear-gradient(180deg, rgba(186, 156, 255, 0.60) 9%, rgba(186, 156, 255, 0) 30%);
    border-radius: 404px;
}

.inner-circle-border {
    width: 808px;
    height: 808px;
    position: absolute;
    background: rgba(186, 156, 255, 0.04);
    border-radius: 404px;
    border: 1px rgba(186, 156, 255, 0.30) solid;
}

.outer-circle {
    width: 608px;
    height: 608px;
    position: absolute;
    left: 100px;
    top: 100px;
    display: inline-flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.outer-overlay {
    width: 608px;
    height: 608px;
    position: absolute;
    background: linear-gradient(180deg, rgba(186, 156, 255, 0.60) 9%, rgba(186, 156, 255, 0) 30%);
    border-radius: 304px;
    opacity: 0.60;
}

.outer-circle-border {
    width: 608px;
    height: 608px;
    position: absolute;
    background: rgba(186, 156, 255, 0.04);
    border-radius: 304px;
    border: 1px rgba(186, 156, 255, 0.30) solid;
}

.additional-overlay {
    width: 700px;
    height: 700px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: radial-gradient(70.71% 70.71% at 0% 120.71%, rgba(217, 217, 217, 0) 27%, #D9D9D9 48%, rgba(217, 217, 217, 0.80) 75%, rgba(217, 217, 217, 0) 100%);
    border-radius: 50%;
    z-index: 0;
}